.borderrow {
    min-height:25px;
     display: flex;
     flex-wrap: wrap;
     text-align: center;
     border-style: groove;
     margin:2% 25%;
 }

 

 .col{
    width: calc(1 * 8.3333%);
    
    
}
 
 
 .col-4{
     width: calc(4 * 8.3333%);
     
 }
 
 .col-6{
    width: calc(6 * 8.3333%);
    
}
 .comp2-12{
     width: 100%;
     margin: auto;
     width: 60%;
     
 }