.row {
   min-height:25px;
    display: flex;
    flex-wrap: nowrap;
}

.col {
    width: 8.3333%;
    min-height: 100px;
}

.col-2{
    width: calc(2 * 8.3333%)
}

.col-3{
    width: calc(3 * 8.3333%)
}

.col-4{
    width: calc(4 * 8.3333%)
}

.col-12{
    width: 100%
}

.input {
    border-radius: 5px 5px;
    min-width: 250px;
    max-width: 250px;
    float: center;
}

.center {
    margin: auto;
    width: 20%;
    padding: 10px;
}

.topred {
    background-color: red;
}

.img {
    width: 10%;
}