.center  {
    text-align:center;
    padding-left: 300px;
    padding-right: 300px;
}

.row {
    margin-right: 0px;
}


.topred {
    background-color: red;
    min-height: 25px;
}

.endline {
    background-color:#e5e4e3;
    min-height: 2px;
    margin-top: 32px;
    margin-left: 15%;
    margin-bottom: 32px;
}

.img {
    width: 28%;
}

#overlay {
    position: fixed;
    width:25%;
    top: 100;
    left: 100;
    right: 100;
    bottom: 100;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    cursor: pointer;
  }